.background {
  background-color: antiquewhite;
}

.title {
  text-align: center;
  font-family: Inter, sans-serif;
  font-weight: 300;
  margin: 4rem 0 0.5rem;
  font-size: 2.5rem;
}

.line {
  height: 2px;
  background: black;
  margin: 0 0 1rem;
}

.table {
  width: 100%;
  text-align: center;
  font-family: Inter, sans-serif;
}

.header-styling {
  width: 25%;
  font-weight: bold;
}
